.link1:hover{
    color:lightblue;
    font-weight: bold;
}

.link2:active{
    color:red;
    font-style: italic;
}

.link3:visited{
    color:yellow;
}

.textarea:focus{
    color:green;
    font-size: 20px;
}

nav{
    grid-area: n;
    background-color:darkblue; 
    justify-content: center;
    align-items: center;
    color: white;
}

nav a{
    color: white;
}

nav a:hover{
color: aqua
}

.nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 10px 30px 10px 0px;
}

.search-item {
    padding: 10px 30px 10px 30px;
    height: 20px;
}

.search-item:focus{
    border: aqua;
}

.main-nav {
    padding-left: 0;
}

.currentPage {
background-color: grey;
}

input {
    border: 0 solid;
    height: 20px;
    outline-style: 0px solid
}

input:focus{
border-style: 4px solid aqua;
height: 20px;
width: 160px;
}
